<div id="cms">
  <div class="container container-fluid">
    <mat-card>
      <mat-card-header>
        <div class="col-md-11 text-center align-content-center align-self-center">
          <h1 class="section-heading text-center">Logging to BOOKCROSSING</h1>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="row login-content">
          <div class="col-md-6 my-auto text-center">
            <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
              <mat-form-field appearance="fill" style="width: 80%">
                <mat-label>Username</mat-label>
                <input matInput type="text" name="username" formControlName="username" required/>
                <mat-error *ngIf="this.form.get('username').hasError('required')">
                  Username is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" style="width: 80%; padding-top: 10px">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" formControlName="password" required/>
                <mat-error *ngIf="this.form.get('password').hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <div class="form-group submit-button">
                <button mat-raised-button color="accent" class="button-styles">LOGIN</button>
                <div *ngIf="isLoginFailed" class="alert">
                  Login failed: {{errorMessage}}
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 text-center">
            <h1 class="section-heading text-center">Register new Account</h1>
            <hr class="primary">
            <div class="register-content">
              <div style="display: inline-flex; position: relative">
                <span class="material-icons">done</span>
                <p>&nbsp;&nbsp;make books free</p>
              </div>
              <div style="display: inline-flex; position: relative">
                <span class="material-icons">done</span>
                <p>&nbsp;&nbsp;share with others</p>
              </div>
              <div style="display: inline-flex; position: relative">
                <span class="material-icons">done</span>
                <p>&nbsp;&nbsp;rate books</p>
              </div>
              <div style="display: inline-flex; position: relative">
                <span class="material-icons">done</span>
                <p>&nbsp;&nbsp;develop Bookcrossing</p>
              </div>
              <div style="display: inline-flex; position: relative">
                <span class="material-icons">done</span>
                <p>&nbsp;&nbsp;and much, much more...</p>
              </div>
            </div>
            <div class="submit-button">
              <button mat-raised-button color="accent" routerLink="/account/register" class="button-styles"> REGISTER NOW
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
