<div id="cms">
  <div class="row">
    <div class="col-md-12 text-center align-content-center">
      <h1 class="section-heading text-center">Users belonging to the community</h1>
      <hr class="primary">
    </div>
  </div>
  <form *ngIf="dataSource.data.length !== 0" [formGroup]="searchForm" class="row">
    <div class="col-md-9">
      <mat-form-field class="col-md-3 mx-auto">
        <mat-label>First name</mat-label>
        <input matInput
               type="text"
               formControlName="firstName"
               aria-label="First name"
               (keyup)="applyFilter()"/>
      </mat-form-field>

      <mat-form-field class="col-md-3 mx-auto">
        <mat-label>Username</mat-label>
        <input matInput
               type="text"
               formControlName="username"
               aria-label="Username"
               (keyup)="applyFilter()"/>
      </mat-form-field>

      <mat-form-field class="col-md-3 mx-auto">
        <mat-label>City</mat-label>
        <input matInput
               type="text"
               formControlName="city"
               aria-label="City"
               (keyup)="applyFilter()"/>
      </mat-form-field>
    </div>
  </form>

  <div *ngIf="dataSource.data.length !== 0" class="mat-elevation-z8 users-table">

    <table mat-table [dataSource]="dataSource" matSort class="full-width-table table-hover" aria-label="Elements"
           (matSortChange)="sortData($event)">
      <!-- firstName Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>

      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row">{{row.username}}</td>
      </ng-container>

      <!-- city Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let row">{{row.city}}</td>
      </ng-container>

      <!-- province Column -->
      <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Province</th>
        <td mat-cell *matCellDef="let row">{{row.province}}</td>
      </ng-container>

      <!-- added Books Column -->
      <ng-container matColumnDef="addedBooks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Added books amount</th>
        <td mat-cell *matCellDef="let row">{{row.addedBooks}}</td>
      </ng-container>

      <ng-container matColumnDef="sendMessage">
        <th mat-header-cell *matHeaderCellDef > Send message </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-raised-button class="action-button" color="accent"
                  (click)="sendMessage(element.username); $event.stopPropagation()">
            New message
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="handOver">
        <th mat-header-cell *matHeaderCellDef > Select user </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-raised-button class="action-button" color="accent"
                  (click)="handOverBook(element.username); $event.stopPropagation()">
            Select
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="getDetailsLink(row.username)"></tr>
    </table>

    <mat-paginator #paginator
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50]">
    </mat-paginator>
  </div>
  <div class="row no-content" *ngIf="dataSource.data.length === 0">
    <div class="col-md-12 my-auto text-center">
      <i class="material-icons" style="font-size: 150px"> search_off </i>
      <h2>No items found</h2>
    </div>
  </div>
</div>
