#cms {
  padding: 55px 0 50px;
}

.main-page {
  padding: 0 100px 0 100px;
}

.section-heading {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
}

hr.primary {
  border-color: #ffd740;
  border-width: 3px;
  max-width: 150px;
}

.more-button {
  border-radius: 300px;
  font-weight: 600;
  width: 20%;
  min-width: fit-content;
  outline: none;
}

.join-button {
  border-radius: 300px;
  font-weight: 600;
  width: 20%;
  min-width: fit-content;
  margin-top: 15px;
  outline: none;
}

.row.content {
  margin-top: 24px;
  font-size: 18px;
}

.info-content {
  display: inline-block;
  padding-top: 15px;
}

.image-add {
  background-image: url(src/assets/book-main-page/leaves-1076307_19201.jpg);
  /*background-image: url(src/assets/book-main-page/pexels-lucie-liz-3193647.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;

  background-color: #cccccc;
  background-size: cover;
  position: relative;
  color: black;
}

.join-section {
  padding-top: 30px;
}
