#cms {
  padding: 40px 0 50px;
}

.full-width-table {
  width: 100%;
}

table {
  table-layout: fixed;
}

th, td {
  text-align: justify;
}

.table-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5px 0 5px;
}

.create-section {
  text-align: end;
}

.create-button {
  border-radius: 300px;
  font-weight: 600;
  margin-top: 15px;
  width: fit-content;
  margin-bottom: 20px;
}
