#cms {
  padding: 30px 0 50px;
}

.section-heading {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

hr.primary {
  border-color: #ffd740;
  border-width: 3px;
  max-width: 150px;
}

.full-width-table {
  width: 100%;
}

table {
  table-layout: fixed;
}

th, td {
  text-align: justify;
}

.table-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5px 0 5px;
}

.create-section {
  text-align: end;
}

.create-button {
  border-radius: 300px;
  font-weight: 600;
  margin-top: 15px;
  width: fit-content;
  margin-bottom: 20px;
}

.action-button {
  border-radius: 300px;
  width: fit-content;
}

mat-label {
  padding-left: 5px;
}
