<div id="cms">
  <div class="container container-fluid">
    <div class="row header">
      <div class="col-md-12 text-center align-content-center">
        <h1 class="section-heading text-center"><strong>{{form.get('username')?.value}}</strong> profile</h1>
        <hr class="primary">
      </div>
    </div>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-md-12 text-right">
            <button mat-raised-button class="action-button" color="accent" *ngIf="isLoggedIn() && isProfileView()"
                    (click)="editProfile()">Edit profile
            </button>
            <button mat-raised-button class="action-button" color="accent" *ngIf="isLoggedIn() && isProfileView()"
                    (click)="resetPassword()">Reset password
            </button>
            <button mat-raised-button class="action-button" color="accent" *ngIf="isLoggedIn() && !isProfileView()"
                    (click)="sendMessage()">Send message
            </button>

            <button mat-raised-button class="action-button" color="accent" *ngIf="isLoggedIn() && !isProfileView()"
                    (click)="reportUser()">Report User
            </button>
            <button mat-raised-button class="action-button" color="accent"
                    *ngIf="isLoggedIn() && isAdmin() && !isProfileView() && isBlocked()" (click)="changeStatus()">Unblock account
            </button>
            <button mat-raised-button class="action-button" color="accent"
                    *ngIf="isLoggedIn() && isAdmin() && !isProfileView() && !isBlocked()" (click)="changeStatus()">Block account
            </button>
            <button mat-raised-button class="action-button" color="accent"
                    *ngIf="isLoggedIn() && (isProfileView() || isAdmin())" (click)="deleteAccount()">Delete account
            </button>
          </div>
        </div>

        <div class="row details-content">
          <form [formGroup]="form" class="col-md-8 my-auto text-center">
            <div class="row">
              <span class="col-md-4 my-auto text-right">First name: </span>
              <mat-form-field class="col-md-8 element">
                <input matInput type="text" formControlName="firstName" readonly>
              </mat-form-field>
            </div>

            <div class="row">
              <span class="col-md-4 my-auto text-right">Username: </span>
              <mat-form-field class="col-md-8 element">
                <input matInput type="text" formControlName="username" readonly>
              </mat-form-field>
            </div>

            <div class="row">
              <span class="col-md-4 my-auto text-right">City: </span>
              <mat-form-field class="col-md-8 element">
                <input matInput type="text" formControlName="city" readonly>
              </mat-form-field>
            </div>

            <div class="row">
              <span class="col-md-4 my-auto text-right">Province: </span>
              <mat-form-field class="col-md-8 element">
                <input matInput type="text" formControlName="province" readonly>
              </mat-form-field>
            </div>

            <div class="row">
              <span class="col-md-4 my-auto text-right">Join date: </span>
              <mat-form-field class="col-md-8 element">
                <input matInput type="text" formControlName="startDate" readonly>
              </mat-form-field>
            </div>

            <div class="row">
              <span class="col-md-4 my-auto text-right">Added books amount: </span>
              <mat-form-field class="col-md-8 element">
                <input matInput type="text" formControlName="addedBooks" readonly>
              </mat-form-field>
            </div>
          </form>
          <div class="col-xl-4 my-auto text-center">
            <img src="assets/user-picture.png" alt="User picture">
          </div>
        </div>
      </mat-card-content>
    </mat-card>


  </div>
  <div class="row">
    <div class="col-md-10 mx-auto text-center" style="min-height: 200px">
      <mat-tab-group mat-align-tabs="left">
        <mat-tab label="Own books">
          <app-books-list [listMode]="'own'" [username]="form.get('username').valueChanges"
                          [isAccount]="true"></app-books-list>
        </mat-tab>
        <mat-tab label="Added books">
          <app-books-list [listMode]="'added'" [username]="form.get('username').valueChanges"
                          [isAccount]="true"></app-books-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

