<div class="register-form">

  <mat-form-field appearance="fill">
    <mat-label>Enter your current password</mat-label>
    <input matInput type="password" [formControl]="currentPassword" required> <!-- [errorStateMatcher]="matcher" -->
    <mat-error *ngIf="currentPassword.hasError('pattern') && !currentPassword.hasError('required')">
      Please enter a valid password
    </mat-error>
    <mat-error *ngIf="currentPassword.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Enter your new password</mat-label>
    <input matInput type="password" [formControl]="newPassword" required> <!-- [errorStateMatcher]="matcher" -->
    <mat-error *ngIf="newPassword.hasError('pattern') && !newPassword.hasError('required')">
      Please enter a valid password
    </mat-error>
    <mat-error *ngIf="newPassword.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm your new password</mat-label>
    <input matInput type="password" [formControl]="confirmPassword" required> <!-- [errorStateMatcher]="matcher" -->
    <mat-error *ngIf="!equalsPasswords() && !confirmPassword.hasError('required')">
      Entered passwords are not equals
    </mat-error>
    <mat-error *ngIf="confirmPassword.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="form-group">
    <button mat-raised-button color="accent" (click)="onSubmit()">Save password</button>
    <div *ngIf="isSignUpFailed" class="alert alert-warning">
      Signup failed!<br/>{{errorMessage}}
    </div>
  </div>
</div>
